target/
!.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
/src/test/
pom.xml

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sonarlint/
*.iws
*.iml
*.ipr

/src/main/java/org/cybersoft/capstone/src/main/java/*
/src/main/java/org/cybersoft/capstone/src/main/webapp/*.jsp

!/src/main/java/org/cybersoft/capstone/src/main/webapp/bootstrap
!/src/main/java/org/cybersoft/capstone/src/main/webapp/css
!/src/main/java/org/cybersoft/capstone/src/main/webapp/js
!/src/main/java/org/cybersoft/capstone/src/main/webapp/less


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/main/java/org/cybersoft/tt